.brands{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width:200px;
    height: 250px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;    
}
.brands img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}
.brands_name{
    position:absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: 600px;
    font-size: 16px;
    color: white;
    background-color: rgba(0,0,0,0.8);
}

.brands_section{
    margin-bottom: 60px;
    overflow: auto;
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.brands_section::-webkit-scrollbar{
    height: 1px;
}

.category{
    background-color: #D3D3D3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width:200px;
    height: 200px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;    
}
.category img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.category_name{
    position:absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: 600px;
    font-size: 16px;
    color: white;
    background-color: rgba(0,0,0,0.8);
}

.categories_section{
    overflow: auto;
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.categories_section::-webkit-scrollbar{
    height: 1px;
}

h3{
    font: bold;
    font-size: 60px;
    margin-bottom: 25px;
}